# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python encoding=utf-8

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.txt text
*.md text
*.yml text
*.yaml text
*.json text
